In [9]:
import pandas as pd
import numpy as np
import sys
import os


module_path =os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path+"\\scripts")

In [10]:
data=pd.read_csv('../data/BankNote_Authentication.csv')

In [3]:
from eda import EDA

edaCon=EDA(data)
missinPerc=edaCon.calculateMissingValues()

In [4]:
missinPerc

          Total Missing  Percentage Missing
variance            0.0                 0.0
skewness            0.0                 0.0
curtosis            0.0                 0.0
entropy             0.0                 0.0
class               0.0                 0.0

In [5]:
data=edaCon.aboveThresholdMissing(.3)

In [6]:
data

      variance  skewness  curtosis  entropy  class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [7]:
data=edaCon.imputeColumnsMedian('entropy')

Imputing missing rows with median values of the feature
Done......!!!

In [13]:
bool_series = data.duplicated()
data[bool_series]

     variance  skewness  curtosis  entropy  class
47    -0.7869    9.5663   -3.7867  -7.5034      0
139   -0.2062    9.2207   -3.7044  -6.8103      0
190    0.9297   -3.7971    4.6429  -0.2957      0
195   -1.8584    7.8860   -1.6643  -1.8384      0
226    0.5706   -0.0248    1.2421  -0.5621      0
268    0.9297   -3.7971    4.6429  -0.2957      0
284   -1.3000   10.2678   -2.9530  -5.8638      0
300    0.3292   -4.4552    4.5718  -0.9888      0
315    0.3292   -4.4552    4.5718  -0.9888      0
320    0.5195   -3.2633    3.0895  -0.9849      0
345   -1.8584    7.8860   -1.6643  -1.8384      0
351    0.5195   -3.2633    3.0895  -0.9849      0
352    0.3292   -4.4552    4.5718  -0.9888      0
404    0.3798    0.7098    0.7572  -0.4444      0
427   -1.3000   10.2678   -2.9530  -5.8638      0
436    0.3798    0.7098    0.7572  -0.4444      0
476    0.3798    0.7098    0.7572  -0.4444      0
498    0.5706   -0.0248    1.2421  -0.5621      0
604   -2.6479   10.1374   -1.3310  -5.4707      0
615   -0.2062    9.2207   -3.7044  -6.8103      0
657   -0.2780    8.1881   -3.1338  -2.5276      0
691    0.5706   -0.0248    1.2421  -0.5621      0
716    0.5195   -3.2633    3.0895  -0.9849      0
727   -2.6479   10.1374   -1.3310  -5.4707      0

In [8]:
data=edaCon.dropDuplicates()

Dropping Duplicates...

There are 24 number of duplicates in the dataset
Done Dropping duplicates!