In [70]:
import pandas as pd
import numpy as np
import sys
import os


module_path =os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path+"\\scripts")

In [71]:
data=pd.read_csv('../data/Processed_data.csv')

In [72]:
from eda import EDA

edaCon=EDA(data)
missinPerc=edaCon.calculateMissingValues()

In [73]:
missinPerc

                          Total Missing  Percentage Missing
Bearer Id                           0.0              0.0000
Start                               0.0              0.0000
Start ms                            0.0              0.0000
End                                 0.0              0.0000
End ms                              0.0              0.0000
...                                 ...                 ...
Activity Duration UL (s)            0.0              0.0000
Total Session (Mbs)                 0.0              0.0000
five Class                          0.0              0.0000
Decile Class                        0.0              0.0000
Decile Class Category           15001.0             10.0006

[64 rows x 2 columns]

In [74]:
data

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Year,Hour,Avg Bearer TP DL (Mbps),Avg Bearer TP UL (Mbps),Activity Duration DL (s),Activity Duration UL (s),Total Session (Mbs),five Class,Decile Class,Decile Class Category
0,13114483460844900352,2019-04-04 12:01:18,770.0000,2019-04-25 14:35:31,662.00000,1.823652e+06,2.082014e+14,3.366496e+10,3.552121e+13,9164566995485190,...,2019,12,0.022461,0.042969,37.624000,38.787000,493.406131,Low Usage,1,Outlier
1,13114483482878900224,2019-04-09 13:04:04,235.0000,2019-04-25 08:15:48,606.00000,1.365104e+06,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,2019,13,0.015625,0.025391,0.168000,3.560000,1176.919550,Outlier,8,Moderately High Usage
2,13114483484080500736,2019-04-09 17:42:11,1.0000,2019-04-25 11:58:13,652.00000,1.361762e+06,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,2019,17,0.005859,0.008789,0.000000,0.000000,685.103951,Moderate Usage,2,Extremely Low
3,13114483485442799616,2019-04-10 00:31:25,486.0000,2019-04-25 07:36:35,171.00000,1.321509e+06,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,2019,0,0.042969,0.042969,3.330000,37.882000,1562.493020,Outlier,9,Extreme High Usage
4,13114483499480700928,2019-04-12 20:10:23,565.0000,2019-04-25 10:40:32,954.00000,1.089009e+06,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,2019,20,0.005859,0.008789,0.000000,0.000000,1104.727653,Extreme Usage,7,High Usage
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7277825670196679680,2019-04-29 07:28:42.000000000,451.0000,2019-04-30 06:02:33.000000000,214.00000,8.123000e+04,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,...,2019,7,0.050781,0.063477,42.376000,41.915000,605.648632,Moderate Usage,2,Extremely Low
149997,7349883264234609664,2019-04-29 07:28:42.000000000,483.0000,2019-04-30 10:41:33.000000000,187.00000,9.797000e+04,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,...,2019,7,0.022461,0.052734,17.264000,16.759000,1352.276146,Outlier,9,Extreme High Usage
149998,13114483573367300096,2019-04-29 07:28:43.000000000,283.0000,2019-04-30 10:46:12.000000000,810.00000,9.824900e+04,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,...,2019,7,0.041992,0.045898,25.003000,28.640000,714.110837,Moderate Usage,3,Moderately Low
149999,13114483573367300096,2019-04-29 07:28:43.000000000,696.0000,2019-04-30 10:40:34.000000000,327.00000,9.791000e+04,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,...,2019,7,0.033203,0.036133,13.405000,34.088000,1159.892205,Extreme Usage,7,High Usage
150000,,2019-04-26 12:36:38.953740032,499.1882,2019-04-27 17:40:08.059673344,498.80088,1.046086e+05,NaN,NaN,NaN,NaN,...,2019,12,12.988326,1.728934,1829.176872,1408.879968,874.390774,High Usage,4,Low Usage

In [75]:
columns=['Avg RTT DL (ms)','Avg RTT UL (ms)','Avg Bearer TP DL (kbps)','Avg Bearer TP UL (kbps)','DL TP < 50 Kbps (%)','50 Kbps < DL TP < 250 Kbps (%)','250 Kbps < DL TP < 1 Mbps (%)','DL TP > 1 Mbps (%)','UL TP < 10 Kbps (%)','10 Kbps < UL TP < 50 Kbps (%)','50 Kbps < UL TP < 300 Kbps (%)','UL TP > 300 Kbps (%)','Activity Duration DL (ms)','Activity Duration UL (ms)','Dur. (ms).1','Nb of sec with Vol DL < 6250B','Nb of sec with Vol UL < 1250B','Social Media DL (Bytes)','Social Media DL (Bytes)',
    'Social Media UL (Bytes)','Google DL (Bytes)','Google UL (Bytes)','Email DL (Bytes)','Email UL (Bytes)','Youtube DL (Bytes)','Youtube UL (Bytes)','Netflix DL (Bytes)','Netflix UL (Bytes)','Gaming DL (Bytes)','Gaming UL (Bytes)','Other DL (Bytes)','Other UL (Bytes)','Total UL (Bytes)','Total DL (Bytes)','Social Media Total (Bytes)','Google Total (Bytes)','Email Total (Bytes)','Youtube Total (Bytes)','Netflix Total (Bytes)','Gaming Total (Bytes)','Other Total (Bytes)']

for column in columns:
    
    print ("Imputing missing rows of {} column with mean values of the feature".format(column))
    data[column].fillna(data[column].mean(),inplace=True)
    print ("Done......!!!")

Imputing missing rows of Avg RTT DL (ms) column with mean values of the feature
Done......!!!
Imputing missing rows of Avg RTT UL (ms) column with mean values of the feature
Done......!!!
Imputing missing rows of Avg Bearer TP DL (kbps) column with mean values of the feature
Done......!!!
Imputing missing rows of Avg Bearer TP UL (kbps) column with mean values of the feature
Done......!!!
Imputing missing rows of DL TP < 50 Kbps (%) column with mean values of the feature
Done......!!!
Imputing missing rows of 50 Kbps < DL TP < 250 Kbps (%) column with mean values of the feature
Done......!!!
Imputing missing rows of 250 Kbps < DL TP < 1 Mbps (%) column with mean values of the feature
Done......!!!
Imputing missing rows of DL TP > 1 Mbps (%) column with mean values of the feature
Done......!!!
Imputing missing rows of UL TP < 10 Kbps (%) column with mean values of the feature
Done......!!!
Imputing missing rows of 10 Kbps < UL TP < 50 Kbps (%) column with mean values of the feature
Done......!!!
Imputing missing rows of 50 Kbps < UL TP < 300 Kbps (%) column with mean values of the feature
Done......!!!
Imputing missing rows of UL TP > 300 Kbps (%) column with mean values of the feature
Done......!!!
Imputing missing rows of Activity Duration DL (ms) column with mean values of the feature
Done......!!!
Imputing missing rows of Activity Duration UL (ms) column with mean values of the feature
Done......!!!
Imputing missing rows of Dur. (ms).1 column with mean values of the feature
Done......!!!
Imputing missing rows of Nb of sec with Vol DL < 6250B column with mean values of the feature
Done......!!!
Imputing missing rows of Nb of sec with Vol UL < 1250B column with mean values of the feature
Done......!!!
Imputing missing rows of Social Media DL (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Social Media DL (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Social Media UL (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Google DL (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Google UL (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Email DL (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Email UL (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Youtube DL (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Youtube UL (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Netflix DL (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Netflix UL (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Gaming DL (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Gaming UL (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Other DL (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Other UL (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Total UL (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Total DL (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Social Media Total (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Google Total (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Email Total (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Youtube Total (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Netflix Total (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Gaming Total (Bytes) column with mean values of the feature
Done......!!!
Imputing missing rows of Other Total (Bytes) column with mean values of the feature
Done......!!!

In [76]:
data['Decile Class Category'].fillna(method='ffill',inplace=True)

In [77]:
data

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Year,Hour,Avg Bearer TP DL (Mbps),Avg Bearer TP UL (Mbps),Activity Duration DL (s),Activity Duration UL (s),Total Session (Mbs),five Class,Decile Class,Decile Class Category
0,13114483460844900352,2019-04-04 12:01:18,770.0000,2019-04-25 14:35:31,662.00000,1.823652e+06,2.082014e+14,3.366496e+10,3.552121e+13,9164566995485190,...,2019,12,0.022461,0.042969,37.624000,38.787000,493.406131,Low Usage,1,Outlier
1,13114483482878900224,2019-04-09 13:04:04,235.0000,2019-04-25 08:15:48,606.00000,1.365104e+06,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,2019,13,0.015625,0.025391,0.168000,3.560000,1176.919550,Outlier,8,Moderately High Usage
2,13114483484080500736,2019-04-09 17:42:11,1.0000,2019-04-25 11:58:13,652.00000,1.361762e+06,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,2019,17,0.005859,0.008789,0.000000,0.000000,685.103951,Moderate Usage,2,Extremely Low
3,13114483485442799616,2019-04-10 00:31:25,486.0000,2019-04-25 07:36:35,171.00000,1.321509e+06,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,2019,0,0.042969,0.042969,3.330000,37.882000,1562.493020,Outlier,9,Extreme High Usage
4,13114483499480700928,2019-04-12 20:10:23,565.0000,2019-04-25 10:40:32,954.00000,1.089009e+06,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,2019,20,0.005859,0.008789,0.000000,0.000000,1104.727653,Extreme Usage,7,High Usage
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7277825670196679680,2019-04-29 07:28:42.000000000,451.0000,2019-04-30 06:02:33.000000000,214.00000,8.123000e+04,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,...,2019,7,0.050781,0.063477,42.376000,41.915000,605.648632,Moderate Usage,2,Extremely Low
149997,7349883264234609664,2019-04-29 07:28:42.000000000,483.0000,2019-04-30 10:41:33.000000000,187.00000,9.797000e+04,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,...,2019,7,0.022461,0.052734,17.264000,16.759000,1352.276146,Outlier,9,Extreme High Usage
149998,13114483573367300096,2019-04-29 07:28:43.000000000,283.0000,2019-04-30 10:46:12.000000000,810.00000,9.824900e+04,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,...,2019,7,0.041992,0.045898,25.003000,28.640000,714.110837,Moderate Usage,3,Moderately Low
149999,13114483573367300096,2019-04-29 07:28:43.000000000,696.0000,2019-04-30 10:40:34.000000000,327.00000,9.791000e+04,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,...,2019,7,0.033203,0.036133,13.405000,34.088000,1159.892205,Extreme Usage,7,High Usage
150000,,2019-04-26 12:36:38.953740032,499.1882,2019-04-27 17:40:08.059673344,498.80088,1.046086e+05,NaN,NaN,NaN,NaN,...,2019,12,12.988326,1.728934,1829.176872,1408.879968,874.390774,High Usage,4,Low Usage

In [78]:
Q1 = data.quantile(0.25)
Q3 = data.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Start ms                          4.990000e+02
End ms                            4.990000e+02
Dur. (ms)                         7.498800e+04
IMSI                              3.703550e+08
MSISDN/Number                     3.217267e+07
IMEI                              5.065900e+13
Avg RTT DL (ms)                   7.479571e+01
Avg RTT UL (ms)                   1.466288e+01
Avg Bearer TP DL (kbps)           1.966700e+04
Avg Bearer TP UL (kbps)           1.073000e+03
DL TP < 50 Kbps (%)               9.000000e+00
50 Kbps < DL TP < 250 Kbps (%)    4.000000e+00
250 Kbps < DL TP < 1 Mbps (%)     1.000000e+00
DL TP > 1 Mbps (%)                1.000000e+00
UL TP < 10 Kbps (%)               1.000000e+00
10 Kbps < UL TP < 50 Kbps (%)     0.000000e+00
50 Kbps < UL TP < 300 Kbps (%)    0.000000e+00
UL TP > 300 Kbps (%)              0.000000e+00
Activity Duration DL (ms)         6.647330e+05
Activity Duration UL (ms)         5.775740e+05
Dur. (ms).1                       7.498800e+02
Nb of sec with Vol DL < 6250B     2.677000e+03
Nb of sec with Vol UL < 1250B     2.453000e+03
Social Media DL (Bytes)           1.795790e+06
Social Media UL (Bytes)           3.288600e+04
Google DL (Bytes)                 5.741159e+06
Google UL (Bytes)                 2.064175e+06
Email DL (Bytes)                  1.796534e+06
Email UL (Bytes)                  4.670570e+05
Youtube DL (Bytes)                1.161502e+07
Youtube UL (Bytes)                1.099760e+07
Netflix DL (Bytes)                1.169332e+07
Netflix UL (Bytes)                1.103129e+07
Gaming DL (Bytes)                 4.227009e+08
Gaming UL (Bytes)                 8.303148e+06
Other DL (Bytes)                  4.215049e+08
Other UL (Bytes)                  8.238205e+06
Total UL (Bytes)                  1.581221e+07
Total DL (Bytes)                  4.225980e+08
Social Media Total (Bytes)        1.795269e+06
Google Total (Bytes)              5.739197e+06
Email Total (Bytes)               1.800474e+06
Youtube Total (Bytes)             1.329414e+07
Netflix Total (Bytes)             1.331099e+07
Gaming Total (Bytes)              4.226879e+08
Other Total (Bytes)               4.213741e+08
Month                             0.000000e+00
Day                               2.000000e+00
Year                              0.000000e+00
Hour                              1.100000e+01
Avg Bearer TP DL (Mbps)           1.920605e+01
Avg Bearer TP UL (Mbps)           1.047852e+00
Activity Duration DL (s)          6.647330e+02
Activity Duration UL (s)          5.775740e+02
Total Session (Mbs)               4.714145e+02
Decile Class                      5.000000e+00
dtype: float64

In [79]:
print((data < (Q1 - 1.5 * IQR)) |data > (Q3 + 1.5 * IQR))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  """Entry point for launching an IPython kernel.

        10 Kbps < UL TP < 50 Kbps (%)  250 Kbps < DL TP < 1 Mbps (%)  \
0                               False                          False
1                               False                          False
2                               False                          False
3                               False                          False
4                               False                          False
...                               ...                            ...
149996                          False                          False
149997                          False                          False
149998                          False                          False
149999                          False                          False
150000                           True                          False

        50 Kbps < DL TP < 250 Kbps (%)  50 Kbps < UL TP < 300 Kbps (%)  \
0                                False                           False
1                                False                           False
2                                False                           False
3                                False                           False
4                                False                           False
...                                ...                             ...
149996                           False                           False
149997                           False                           False
149998                           False                           False
149999                           False                           False
150000                           False                            True

        Activity Duration DL (ms)  Activity Duration DL (s)  \
0                           False                     False
1                           False                     False
2                           False                     False
3                           False                     False
4                           False                     False
...                           ...                       ...
149996                      False                     False
149997                      False                     False
149998                      False                     False
149999                      False                     False
150000                      False                     False

        Activity Duration UL (ms)  Activity Duration UL (s)  \
0                           False                     False
1                           False                     False
2                           False                     False
3                           False                     False
4                           False                     False
...                           ...                       ...
149996                      False                     False
149997                      False                     False
149998                      False                     False
149999                      False                     False
150000                      False                     False

        Avg Bearer TP DL (Mbps)  Avg Bearer TP DL (kbps)  ...  \
0                         False                    False  ...
1                         False                    False  ...
2                         False                    False  ...
3                         False                    False  ...
4                         False                    False  ...
...                         ...                      ...  ...
149996                    False                    False  ...
149997                    False                    False  ...
149998                    False                    False  ...
149999                    False                    False  ...
150000                    False                    False  ...

        Total DL (Bytes)  Total Session (Mbs)  Total UL (Bytes)  \
0                  False                False             False
1                  False                False             False
2                  False                False             False
3                  False                False             False
4                  False                False             False
...                  ...                  ...               ...
149996             False                False             False
149997             False                False             False
149998             False                False             False
149999             False                False             False
150000             False                False             False

        UL TP < 10 Kbps (%)  UL TP > 300 Kbps (%)   Year  Youtube DL (Bytes)  \
0                     False                 False  False               False
1                     False                 False  False               False
2                     False                 False  False               False
3                     False                 False  False               False
4                     False                 False  False               False
...                     ...                   ...    ...                 ...
149996                False                 False  False               False
149997                False                 False  False               False
149998                False                 False  False               False
149999                False                 False  False               False
150000                False                  True  False               False

        Youtube Total (Bytes)  Youtube UL (Bytes)  five Class
0                       False               False       False
1                       False               False       False
2                       False               False       False
3                       False               False       False
4                       False               False       False
...                       ...                 ...         ...
149996                  False               False       False
149997                  False               False       False
149998                  False               False       False
149999                  False               False       False
150000                  False               False       False

[150001 rows x 64 columns]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  """Entry point for launching an IPython kernel.

In [80]:
data.shape

(150001, 64)

In [81]:
data = data[~((data < (Q1 - 1.5 * IQR)) |(data> (Q3 + 1.5 * IQR))).any(axis=1)]
data.shape

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  """Entry point for launching an IPython kernel.

(65916, 64)

In [41]:
data

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Year,Hour,Avg Bearer TP DL (Mbps),Avg Bearer TP UL (Mbps),Activity Duration DL (s),Activity Duration UL (s),Total Session (Mbs),five Class,Decile Class,Decile Class Category
92,13114483540924899328,2019-04-22 05:18:34,467.0,2019-04-25 00:56:58,829.0,243504.0,2.082018e+14,3.368542e+10,3.556251e+13,D92937B,...,2019,5,0.027344,0.040039,28.253,48.628,875.511833,High Usage,5,Moderate Usage
93,13114483541031999488,2019-04-22 06:18:45,641.0,2019-04-25 00:01:36,444.0,236570.0,2.082021e+14,3.366132e+10,3.530731e+13,D73605A,...,2019,6,0.044922,0.044922,20.168,23.902,1038.387575,Extreme Usage,6,Okay Usage
95,13114483541187700736,2019-04-22 07:38:47,804.0,2019-04-25 00:01:48,199.0,231780.0,2.082017e+14,3.361513e+10,3.520031e+13,L73684B,...,2019,7,0.022461,0.049805,31.466,38.457,517.020123,Low Usage,1,Outlier
96,13114483541219500032,2019-04-22 07:54:19,676.0,2019-04-25 00:01:39,176.0,230839.0,2.082014e+14,3.366495e+10,8.636750e+13,D73608B,...,2019,7,0.021484,0.044922,2.335,74.845,815.629428,High Usage,4,Low Usage
97,7349883240123169792,2019-04-22 08:00:51,810.0,2019-04-25 02:22:47,294.0,238915.0,2.082010e+14,3.366403e+10,3.586111e+13,D73605A,...,2019,8,0.047852,0.045898,90.256,98.771,1171.899225,Outlier,8,Moderately High Usage
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149993,13114483573367199744,2019-04-29 07:28:41.000000000,79.0,2019-04-30 18:22:23.000000000,512.0,125622.0,2.082014e+14,3.362611e+10,3.573531e+13,D73542B,...,2019,7,0.041992,0.040039,30.493,35.262,796.547013,High Usage,4,Low Usage
149996,7277825670196679680,2019-04-29 07:28:42.000000000,451.0,2019-04-30 06:02:33.000000000,214.0,81230.0,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,...,2019,7,0.050781,0.063477,42.376,41.915,605.648632,Moderate Usage,2,Extremely Low
149997,7349883264234609664,2019-04-29 07:28:42.000000000,483.0,2019-04-30 10:41:33.000000000,187.0,97970.0,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,...,2019,7,0.022461,0.052734,17.264,16.759,1352.276146,Outlier,9,Extreme High Usage
149998,13114483573367300096,2019-04-29 07:28:43.000000000,283.0,2019-04-30 10:46:12.000000000,810.0,98249.0,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,...,2019,7,0.041992,0.045898,25.003,28.640,714.110837,Moderate Usage,3,Moderately Low
149999,13114483573367300096,2019-04-29 07:28:43.000000000,696.0,2019-04-30 10:40:34.000000000,327.0,97910.0,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,...,2019,7,0.033203,0.036133,13.405,34.088,1159.892205,Extreme Usage,7,High Usage

In [82]:
dataCol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 45 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Avg RTT DL (ms)                 150001 non-null  float64
 1   Avg RTT UL (ms)                 150001 non-null  float64
 2   Avg Bearer TP DL (kbps)         150001 non-null  float64
 3   Avg Bearer TP UL (kbps)         150001 non-null  float64
 4   DL TP < 50 Kbps (%)             150001 non-null  float64
 5   50 Kbps < DL TP < 250 Kbps (%)  150001 non-null  float64
 6   250 Kbps < DL TP < 1 Mbps (%)   150001 non-null  float64
 7   DL TP > 1 Mbps (%)              150001 non-null  float64
 8   UL TP < 10 Kbps (%)             150001 non-null  float64
 9   10 Kbps < UL TP < 50 Kbps (%)   150001 non-null  float64
 10  50 Kbps < UL TP < 300 Kbps (%)  150001 non-null  float64
 11  UL TP > 300 Kbps (%)            150001 non-null  float64
 12  Activity Duration DL (ms)       150001 non-null  float64
 13  Activity Duration UL (ms)       150001 non-null  float64
 14  Dur. (ms).1                     150001 non-null  float64
 15  Nb of sec with Vol DL < 6250B   150001 non-null  float64
 16  Nb of sec with Vol UL < 1250B   150001 non-null  float64
 17  Social Media DL (Bytes)         150001 non-null  float64
 18  Social Media UL (Bytes)         150001 non-null  float64
 19  Google DL (Bytes)               150001 non-null  float64
 20  Google UL (Bytes)               150001 non-null  float64
 21  Email DL (Bytes)                150001 non-null  float64
 22  Email UL (Bytes)                150001 non-null  float64
 23  Youtube DL (Bytes)              150001 non-null  float64
 24  Youtube UL (Bytes)              150001 non-null  float64
 25  Netflix DL (Bytes)              150001 non-null  float64
 26  Netflix UL (Bytes)              150001 non-null  float64
 27  Gaming DL (Bytes)               150001 non-null  float64
 28  Gaming UL (Bytes)               150001 non-null  float64
 29  Other DL (Bytes)                150001 non-null  float64
 30  Other UL (Bytes)                150001 non-null  float64
 31  Total UL (Bytes)                150001 non-null  float64
 32  Total DL (Bytes)                150001 non-null  float64
 33  Social Media Total (Bytes)      150001 non-null  float64
 34  Google Total (Bytes)            150001 non-null  float64
 35  Email Total (Bytes)             150001 non-null  float64
 36  Youtube Total (Bytes)           150001 non-null  float64
 37  Netflix Total (Bytes)           150001 non-null  float64
 38  Gaming Total (Bytes)            150001 non-null  float64
 39  Other Total (Bytes)             150001 non-null  float64
 40  Avg Bearer TP DL (Mbps)         150001 non-null  float64
 41  Avg Bearer TP UL (Mbps)         150001 non-null  float64
 42  Activity Duration DL (s)        150001 non-null  float64
 43  Activity Duration UL (s)        150001 non-null  float64
 44  Total Session (Mbs)             150001 non-null  float64
dtypes: float64(45)
memory usage: 51.5 MB

In [69]:
dataCol=data.select_dtypes(exclude=['object'])
dataCol.drop(labels=['Start ms','End ms','Dur. (ms)','IMSI','MSISDN/Number','IMEI','Decile Class','Month','Day','Year','Hour'],inplace=True,axis=1)


for cols in dataCol:
   
    
    
    upperLimit=data[cols].mean()+3*data[cols].std()
    lowerLimit=data[cols].mean()-3*data[cols].std()
    
    data=data[(data[cols]<upperLimit) & (data[cols]>lowerLimit)]
    print(data.shape)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

(149186, 64)
(148448, 64)
(145500, 64)
(141334, 64)
(137592, 64)
(133706, 64)
(130255, 64)
(127282, 64)
(125988, 64)
(121963, 64)
(120987, 64)
(120669, 64)
(118852, 64)
(116767, 64)
(115165, 64)
(113134, 64)
(109878, 64)
(109878, 64)
(109878, 64)
(109878, 64)
(109878, 64)
(109878, 64)
(109878, 64)
(109878, 64)
(109878, 64)
(109878, 64)
(109878, 64)
(109878, 64)
(109878, 64)
(109878, 64)
(109878, 64)
(109835, 64)
(109835, 64)
(109835, 64)
(109835, 64)
(109835, 64)
(109835, 64)
(109835, 64)
(109835, 64)
(109835, 64)
(106422, 64)
(104581, 64)
(102128, 64)
(99131, 64)
(99131, 64)

In [83]:
data

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Year,Hour,Avg Bearer TP DL (Mbps),Avg Bearer TP UL (Mbps),Activity Duration DL (s),Activity Duration UL (s),Total Session (Mbs),five Class,Decile Class,Decile Class Category
92,13114483540924899328,2019-04-22 05:18:34,467.0,2019-04-25 00:56:58,829.0,243504.0,2.082018e+14,3.368542e+10,3.556251e+13,D92937B,...,2019,5,0.027344,0.040039,28.253,48.628,875.511833,High Usage,5,Moderate Usage
93,13114483541031999488,2019-04-22 06:18:45,641.0,2019-04-25 00:01:36,444.0,236570.0,2.082021e+14,3.366132e+10,3.530731e+13,D73605A,...,2019,6,0.044922,0.044922,20.168,23.902,1038.387575,Extreme Usage,6,Okay Usage
95,13114483541187700736,2019-04-22 07:38:47,804.0,2019-04-25 00:01:48,199.0,231780.0,2.082017e+14,3.361513e+10,3.520031e+13,L73684B,...,2019,7,0.022461,0.049805,31.466,38.457,517.020123,Low Usage,1,Outlier
96,13114483541219500032,2019-04-22 07:54:19,676.0,2019-04-25 00:01:39,176.0,230839.0,2.082014e+14,3.366495e+10,8.636750e+13,D73608B,...,2019,7,0.021484,0.044922,2.335,74.845,815.629428,High Usage,4,Low Usage
97,7349883240123169792,2019-04-22 08:00:51,810.0,2019-04-25 02:22:47,294.0,238915.0,2.082010e+14,3.366403e+10,3.586111e+13,D73605A,...,2019,8,0.047852,0.045898,90.256,98.771,1171.899225,Outlier,8,Moderately High Usage
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149993,13114483573367199744,2019-04-29 07:28:41.000000000,79.0,2019-04-30 18:22:23.000000000,512.0,125622.0,2.082014e+14,3.362611e+10,3.573531e+13,D73542B,...,2019,7,0.041992,0.040039,30.493,35.262,796.547013,High Usage,4,Low Usage
149996,7277825670196679680,2019-04-29 07:28:42.000000000,451.0,2019-04-30 06:02:33.000000000,214.0,81230.0,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,...,2019,7,0.050781,0.063477,42.376,41.915,605.648632,Moderate Usage,2,Extremely Low
149997,7349883264234609664,2019-04-29 07:28:42.000000000,483.0,2019-04-30 10:41:33.000000000,187.0,97970.0,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,...,2019,7,0.022461,0.052734,17.264,16.759,1352.276146,Outlier,9,Extreme High Usage
149998,13114483573367300096,2019-04-29 07:28:43.000000000,283.0,2019-04-30 10:46:12.000000000,810.0,98249.0,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,...,2019,7,0.041992,0.045898,25.003,28.640,714.110837,Moderate Usage,3,Moderately Low
149999,13114483573367300096,2019-04-29 07:28:43.000000000,696.0,2019-04-30 10:40:34.000000000,327.0,97910.0,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,...,2019,7,0.033203,0.036133,13.405,34.088,1159.892205,Extreme Usage,7,High Usage

In [84]:
data.describe()

,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),...,Month,Day,Year,Hour,Avg Bearer TP DL (Mbps),Avg Bearer TP UL (Mbps),Activity Duration DL (s),Activity Duration UL (s),Total Session (Mbs),Decile Class
count,65916.000000,65916.000000,65916.000000,6.591600e+04,6.591600e+04,6.591600e+04,65916.000000,65916.000000,65916.000000,65916.000000,...,65916.0,65916.000000,65916.0,65916.000000,65916.000000,65916.000000,65916.000000,65916.000000,65916.000000,65916.000000
mean,499.281115,497.612310,104893.469537,2.082015e+14,3.365649e+10,4.205394e+13,62.056523,8.456466,1156.829207,113.566964,...,4.0,26.178348,2019.0,10.981689,1.129716,0.110905,48.076913,50.935038,873.693197,4.494402
std,288.012710,287.537889,53767.376946,3.574276e+08,2.348021e+07,1.727168e+13,38.200932,7.468467,4720.775094,243.368543,...,0.0,1.603679,0.0,6.054789,4.610132,0.237665,121.535641,107.929173,328.793690,2.874420
min,0.000000,0.000000,7212.000000,2.082009e+14,3.360304e+10,4.400152e+11,0.000000,0.000000,0.000000,0.000000,...,4.0,22.000000,2019.0,0.000000,0.000000,0.000000,0.000000,0.000000,55.658620,0.000000
25%,251.000000,252.000000,64123.750000,2.082014e+14,3.364517e+10,3.540531e+13,30.000000,2.000000,34.000000,44.000000,...,4.0,25.000000,2019.0,6.000000,0.033203,0.042969,8.733250,14.954500,638.296839,2.000000
50%,498.000000,498.000000,98087.500000,2.082015e+14,3.366148e+10,3.565621e+13,45.000000,5.000000,47.000000,51.000000,...,4.0,26.000000,2019.0,10.000000,0.045898,0.049805,21.370000,27.826500,873.589376,4.000000
75%,748.000000,749.000000,144847.000000,2.082018e+14,3.366810e+10,3.590371e+13,109.795706,17.662883,63.000000,61.000000,...,4.0,27.000000,2019.0,16.000000,0.061523,0.059570,37.535250,44.593750,1110.250966,7.000000
max,999.000000,999.000000,244900.000000,2.082022e+14,3.370000e+10,9.900120e+13,221.000000,39.000000,49058.000000,2729.000000,...,4.0,29.000000,2019.0,23.000000,47.908203,2.665039,1665.309000,1463.259000,1689.798430,9.000000

In [22]:
# def getOutliers(col):
    
#     upperLimit=data[col].mean()+3*data[cols].std()
#     lowerLimit=data[col].mean()-3*data[cols].std()
    
#     return data[(data[col]<upperLimit) & (data[col]>lowerLimit)]

In [24]:
for cols in dataCol:
    data[cols]=data[cols].apply(lambda x : getOutliers(cols))

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 64 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Bearer Id                       0 non-null      object
 1   Start                           0 non-null      object
 2   Start ms                        0 non-null      float64
 3   End                             0 non-null      object
 4   End ms                          0 non-null      float64
 5   Dur. (ms)                       0 non-null      float64
 6   IMSI                            0 non-null      float64
 7   MSISDN/Number                   0 non-null      float64
 8   IMEI                            0 non-null      float64
 9   Last Location Name              0 non-null      object
 10  Avg RTT DL (ms)                 0 non-null      float64
 11  Avg RTT UL (ms)                 0 non-null      float64
 12  Avg Bearer TP DL (kbps)         0 non-null      float64
 13  Avg Bearer TP UL (kbps)         0 non-null      float64
 14  DL TP < 50 Kbps (%)             0 non-null      float64
 15  50 Kbps < DL TP < 250 Kbps (%)  0 non-null      float64
 16  250 Kbps < DL TP < 1 Mbps (%)   0 non-null      float64
 17  DL TP > 1 Mbps (%)              0 non-null      float64
 18  UL TP < 10 Kbps (%)             0 non-null      float64
 19  10 Kbps < UL TP < 50 Kbps (%)   0 non-null      float64
 20  50 Kbps < UL TP < 300 Kbps (%)  0 non-null      float64
 21  UL TP > 300 Kbps (%)            0 non-null      float64
 22  Activity Duration DL (ms)       0 non-null      float64
 23  Activity Duration UL (ms)       0 non-null      float64
 24  Dur. (ms).1                     0 non-null      float64
 25  Handset Manufacturer            0 non-null      object
 26  Handset Type                    0 non-null      object
 27  Nb of sec with Vol DL < 6250B   0 non-null      float64
 28  Nb of sec with Vol UL < 1250B   0 non-null      float64
 29  Social Media DL (Bytes)         0 non-null      float64
 30  Social Media UL (Bytes)         0 non-null      float64
 31  Google DL (Bytes)               0 non-null      float64
 32  Google UL (Bytes)               0 non-null      float64
 33  Email DL (Bytes)                0 non-null      float64
 34  Email UL (Bytes)                0 non-null      float64
 35  Youtube DL (Bytes)              0 non-null      float64
 36  Youtube UL (Bytes)              0 non-null      float64
 37  Netflix DL (Bytes)              0 non-null      float64
 38  Netflix UL (Bytes)              0 non-null      float64
 39  Gaming DL (Bytes)               0 non-null      float64
 40  Gaming UL (Bytes)               0 non-null      float64
 41  Other DL (Bytes)                0 non-null      float64
 42  Other UL (Bytes)                0 non-null      float64
 43  Total UL (Bytes)                0 non-null      float64
 44  Total DL (Bytes)                0 non-null      float64
 45  Social Media Total (Bytes)      0 non-null      float64
 46  Google Total (Bytes)            0 non-null      float64
 47  Email Total (Bytes)             0 non-null      float64
 48  Youtube Total (Bytes)           0 non-null      float64
 49  Netflix Total (Bytes)           0 non-null      float64
 50  Gaming Total (Bytes)            0 non-null      float64
 51  Other Total (Bytes)             0 non-null      float64
 52  Month                           0 non-null      int64
 53  Day                             0 non-null      int64
 54  Year                            0 non-null      int64
 55  Hour                            0 non-null      int64
 56  Avg Bearer TP DL (Mbps)         0 non-null      float64
 57  Avg Bearer TP UL (Mbps)         0 non-null      float64
 58  Activity Duration DL (s)        0 non-null      float64
 59  Activity Duration UL (s)        0 non-null      float64
 60  Total Session (Mbs)             0 non-null      float64
 61  five Class                      0 non-null      object
 62  Decile Class                    0 non-null      int64
 63  Decile Class Category           0 non-null      object
dtypes: float64(51), int64(5), object(8)
memory usage: 0.0+ bytes

In [15]:
upperLimit

1787.823565119902

In [16]:
lowerLimit

-1568.232153012229

In [17]:
newData=data[(data['Avg RTT DL (ms)']<upperLimit) & (data['Avg RTT DL (ms)']>lowerLimit)]
newData

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Year,Hour,Avg Bearer TP DL (Mbps),Avg Bearer TP UL (Mbps),Activity Duration DL (s),Activity Duration UL (s),Total Session (Mbs),five Class,Decile Class,Decile Class Category
0,13114483460844900352,2019-04-04 12:01:18,770.0000,2019-04-25 14:35:31,662.00000,1.823652e+06,2.082014e+14,3.366496e+10,3.552121e+13,9164566995485190,...,2019,12,0.022461,0.042969,37.624000,38.787000,493.406131,Low Usage,1,Outlier
1,13114483482878900224,2019-04-09 13:04:04,235.0000,2019-04-25 08:15:48,606.00000,1.365104e+06,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,2019,13,0.015625,0.025391,0.168000,3.560000,1176.919550,Outlier,8,Moderately High Usage
2,13114483484080500736,2019-04-09 17:42:11,1.0000,2019-04-25 11:58:13,652.00000,1.361762e+06,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,2019,17,0.005859,0.008789,0.000000,0.000000,685.103951,Moderate Usage,2,Extremely Low
3,13114483485442799616,2019-04-10 00:31:25,486.0000,2019-04-25 07:36:35,171.00000,1.321509e+06,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,2019,0,0.042969,0.042969,3.330000,37.882000,1562.493020,Outlier,9,Extreme High Usage
4,13114483499480700928,2019-04-12 20:10:23,565.0000,2019-04-25 10:40:32,954.00000,1.089009e+06,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,2019,20,0.005859,0.008789,0.000000,0.000000,1104.727653,Extreme Usage,7,High Usage
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7277825670196679680,2019-04-29 07:28:42.000000000,451.0000,2019-04-30 06:02:33.000000000,214.00000,8.123000e+04,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,...,2019,7,0.050781,0.063477,42.376000,41.915000,605.648632,Moderate Usage,2,Extremely Low
149997,7349883264234609664,2019-04-29 07:28:42.000000000,483.0000,2019-04-30 10:41:33.000000000,187.00000,9.797000e+04,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,...,2019,7,0.022461,0.052734,17.264000,16.759000,1352.276146,Outlier,9,Extreme High Usage
149998,13114483573367300096,2019-04-29 07:28:43.000000000,283.0000,2019-04-30 10:46:12.000000000,810.00000,9.824900e+04,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,...,2019,7,0.041992,0.045898,25.003000,28.640000,714.110837,Moderate Usage,3,Moderately Low
149999,13114483573367300096,2019-04-29 07:28:43.000000000,696.0000,2019-04-30 10:40:34.000000000,327.00000,9.791000e+04,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,...,2019,7,0.033203,0.036133,13.405000,34.088000,1159.892205,Extreme Usage,7,High Usage
150000,,2019-04-26 12:36:38.953740032,499.1882,2019-04-27 17:40:08.059673344,498.80088,1.046086e+05,NaN,NaN,NaN,NaN,...,2019,12,12.988326,1.728934,1829.176872,1408.879968,874.390774,High Usage,4,Low Usage

In [88]:
data=pd.get_dummies(data,columns=['Handset Type'])

In [89]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65916 entries, 92 to 149999
Columns: 798 entries, Bearer Id to Handset Type_undefined
dtypes: float64(51), int64(5), object(7), uint8(735)
memory usage: 78.4+ MB

In [12]:
dataCol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 49 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Avg RTT DL (ms)                 150001 non-null  float64
 1   Avg RTT UL (ms)                 150001 non-null  float64
 2   Avg Bearer TP DL (kbps)         150001 non-null  float64
 3   Avg Bearer TP UL (kbps)         150001 non-null  float64
 4   DL TP < 50 Kbps (%)             150001 non-null  float64
 5   50 Kbps < DL TP < 250 Kbps (%)  150001 non-null  float64
 6   250 Kbps < DL TP < 1 Mbps (%)   150001 non-null  float64
 7   DL TP > 1 Mbps (%)              150001 non-null  float64
 8   UL TP < 10 Kbps (%)             150001 non-null  float64
 9   10 Kbps < UL TP < 50 Kbps (%)   150001 non-null  float64
 10  50 Kbps < UL TP < 300 Kbps (%)  150001 non-null  float64
 11  UL TP > 300 Kbps (%)            150001 non-null  float64
 12  Activity Duration DL (ms)       150001 non-null  float64
 13  Activity Duration UL (ms)       150001 non-null  float64
 14  Dur. (ms).1                     150001 non-null  float64
 15  Nb of sec with Vol DL < 6250B   150001 non-null  float64
 16  Nb of sec with Vol UL < 1250B   150001 non-null  float64
 17  Social Media DL (Bytes)         150001 non-null  float64
 18  Social Media UL (Bytes)         150001 non-null  float64
 19  Google DL (Bytes)               150001 non-null  float64
 20  Google UL (Bytes)               150001 non-null  float64
 21  Email DL (Bytes)                150001 non-null  float64
 22  Email UL (Bytes)                150001 non-null  float64
 23  Youtube DL (Bytes)              150001 non-null  float64
 24  Youtube UL (Bytes)              150001 non-null  float64
 25  Netflix DL (Bytes)              150001 non-null  float64
 26  Netflix UL (Bytes)              150001 non-null  float64
 27  Gaming DL (Bytes)               150001 non-null  float64
 28  Gaming UL (Bytes)               150001 non-null  float64
 29  Other DL (Bytes)                150001 non-null  float64
 30  Other UL (Bytes)                150001 non-null  float64
 31  Total UL (Bytes)                150001 non-null  float64
 32  Total DL (Bytes)                150001 non-null  float64
 33  Social Media Total (Bytes)      150001 non-null  float64
 34  Google Total (Bytes)            150001 non-null  float64
 35  Email Total (Bytes)             150001 non-null  float64
 36  Youtube Total (Bytes)           150001 non-null  float64
 37  Netflix Total (Bytes)           150001 non-null  float64
 38  Gaming Total (Bytes)            150001 non-null  float64
 39  Other Total (Bytes)             150001 non-null  float64
 40  Month                           150001 non-null  int64
 41  Day                             150001 non-null  int64
 42  Year                            150001 non-null  int64
 43  Hour                            150001 non-null  int64
 44  Avg Bearer TP DL (Mbps)         150001 non-null  float64
 45  Avg Bearer TP UL (Mbps)         150001 non-null  float64
 46  Activity Duration DL (s)        150001 non-null  float64
 47  Activity Duration UL (s)        150001 non-null  float64
 48  Total Session (Mbs)             150001 non-null  float64
dtypes: float64(45), int64(4)
memory usage: 56.1 MB

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
from scipy import stats
import numpy as np
z = np.abs(stats.zscore(dataCol))
print(z)

In [ ]:
threshold = 3
print(np.where(z > 3))

In [ ]:
dataCol = dataCol[(z < 3).all(axis=1)]

In [ ]:
dataCol

In [ ]:
data=edaCon.dropDuplicates()

In [ ]:
cols=data.columns

In [ ]:
cols

In [ ]:
edaCon.imputeColumnsMode('entropy')

In [ ]:
from univariate import Univariate


uniDat=Univariate(data)

In [ ]:
entropyData=uniDat.calculateMetrics('entropy')

In [ ]:
entropyData

In [ ]:
disMetrics=uniDat.calculateDispersion('entropy')

In [ ]:
disMetrics

In [ ]:
entHist=uniDat.vizualiseHist('entropy','r')

In [ ]:
data['class'].unique()

In [85]:
import matplotlib.pyplot as plt
cmap = plt.get_cmap('Spectral')
colors = [cmap(i) for i in np.linspace(0, 1, 8)]
plt.pie(data['class'].value_counts(),labels=data['class'].unique(),shadow=True,colors=colors,autopct='%1.1f%%')
plt.show()

KeyError: 'class'

In [ ]:
import seaborn as sns
sns.countplot(data['class'],order=data['class'].value_counts().iloc[:2].index,color='g')

In [ ]:
bins=['l','m','n','o','p']
data['quartile Ent']=pd.qcut(data['entropy'],q=[0,.2,.4,.6,.8,1],labels=bins)

In [ ]:
data

In [ ]:
from aggregarefunctions import aggregateClass

In [ ]:
aggFun=aggregateClass(data)

In [ ]:
r=aggFun.aggregateSum('class','entropy','skewness',1)

In [ ]:
r